modules = ["nodejs-20", "postgresql-16"]

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "server"]

[[ports]]
localPort = 4000
externalPort = 80

[nix]
channel = "stable-25_05"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"
