commands:
  01_node_install:
    command: "yum install -y nodejs npm"
    ignoreErrors: false

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: "18.20.4"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: build/
    /static: build/static/
    /assets: build/assets/